.App {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f8fff5;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Raleway', sans-serif;
}

.ListContainer {
  margin: 20px;
}

.List {
  list-style-type: none;
  width: 90%;


  li img {
    float: left;
    margin: 0 15px 0 0;
  }

  li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }

  li {
    padding: 10px;
    overflow: auto;
    height: 60px;
    display: block;
    float: left;
    width: 100%;
    border-radius: 5px;
  }

  li:hover {
    background: #8E2DE280;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A00E080, #8E2DE280);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E080, #8E2DE280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}


.AppIcon {
  height: 60px;
  width: 60px;
  display: block;
  float: left;
}

.AppTitle {
  float: left;
  display: block;
  height: 60px;
  width: 30%;
  line-height: 60px;
  font-weight: 600;
}

.AppStatus {
  height: 60px;
  width: 50%;
  float: left;
  display: block;
  line-height: 60px;
  text-align: left;
}

.IconMargin {
  margin-right: 10px;
}

.AndroidIcon {
  width: 60px;
  height: 60px;
}

.SummaryImage {
  width: 100%;
  padding: 30px;
}

.ImageContainer {
  width: 50%;
  float: left;
}

.ResultsContainer {
  width: 40%;
  float: left;
  height: 800px;
  overflow: scroll;
  padding: 20px;
  margin: 30px;
  text-align: left;

  span {
    line-height: 50px;
  }
}

.Line {
  font-size: 16px;
  span {
    line-height: 16px;
  }
}